body{
  background-color: black;
}
.title{
  font-family: 'Candal', sans-serif;
  color: black;
  margin-bottom: 40px;
  margin-top: 80px;
}
.title2{
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Candal', sans-serif;
  color: black;
}
p{
  color: black;
  font-weight: bold;
  font-size: 15pt;
}
table{
  width: 300px;
  margin: 0px auto;
}
td a{
    color: black;
  font-size: 18pt;
  text-decoration: none;
  margin: 7px;
  padding: 5px;
}
a:hover, a:focus{
  text-decoration: none;
  color: black;
}
.hov:hover {
    text-decoration: none;
    color: white;
    background-color: #154734;
}
.clock{
  margin-top: 20px;
  margin-bottom: 80px;
}
.clock p{
  font-size: 30pt;
  color: white;
}
.clock .btn{
  font-size: 8pt;
  background-color: #191547;
  color: white;
  border-width: 1px;
  border-color: black;
  margin: 5px;
}
.clock .btn:hover{
  background-color: #6b62d0;
}
.load{
    width: 200px;
    height: 50px;
    background: #0eb434;
    margin: 0px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 2px #000;
}
.round{
  border: solid;
  border-color: transparent;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  animation: 5s animateBorder infinite;
  background-color: #f5fbcb;
}

@keyframes animateBorder {
  0%{
    box-shadow: 0 0 0 2px #f5260f;
  }
  50% {
    box-shadow: 0 0 0 10px #51f55a;
  } 
  100%{
    box-shadow: 0 0 0 2px #f5260f;
  }
}
#reset{
  border-radius: 10px;
}
#start{
  border-radius: 10px;
}
.btn:focus,.btn:active {
   outline: none !important;
}