.margins {
  margin: 100px auto 50px auto;
}
.row{
  margin: 0px auto;
}
.bigbox {
  background-color: #D3D3D3;
  padding: 1% 3% 1% 3%;
}
.box1 {  
  background-color: #B8B8B8; 
  padding: 1% 3% 1% 3%;
}
.box2 {
  padding: 20px 30px 20px 30px;
  background-color: #B8B8B8; 
}
h4 {
  margin-top: 30px;
}
div {
  color: #393939;
}
